.alt-screen-header {
  margin-top: 25px;
  padding: var(--horizontal-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 2;
}
.alt-screen-header__title {
  font-size: 24px;
  font-weight: 600;
}
.alt-screen-header__column {
  width: 33%;
}
.alt-screen-header__column:nth-child(2) {
  text-align: center;
}
.alt-screen-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}
.alt-screen-header__column:last-child i:last-child {
  margin-left: 20px;
}
