.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2f363e;
  position: relative;
}
.nav__notification,
.nav__newdot {
  background-color: tomato;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
}
.nav__notification {
  width: 25px;
  height: 25px;
  left: 18px;
  bottom: 18px;
}
.nav__newdot {
  width: 8px;
  height: 8px;
  left: 30px;
  bottom: 30px;
}
